@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400italic|Cardo:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic,700,700italic);
body.admin-menu::before { top: 30px !important; }

html, body { font-family: "Open Sans", "Arial", "sans-serif"; font-size: 16px; font-weight: 300; line-height: 21px; }

code, kbd, pre, samp { font-family: 'Ubuntu Mono', monospace, serif; }

h1 { font-size: 2em; line-height: 1.4em; }

.header__region { background-color: #2e2e2e; }

.logo { text-align: center; width: 610px; margin: 0 auto; padding: 25px 20px 15px 20px; }

.header ul { list-style-type: none; padding: 0 0 20px 0; margin: 0; text-align: center; }
.header li { display: inline; padding: 0 0 0 15px; }
.header li a { padding: 0 11px; }
.header li .active { font-weight: 600; background: transparent url("../img/star--small.png") no-repeat top right; }

.header--collapsed { position: fixed; z-index: 100; width: 100%; top: 0; display: none; }
.header--collapsed .header__region { height: 40px; }
.header--collapsed .logo { width: 260px; margin: 0; padding: 10px; float: left; }
.header--collapsed .logo__image { width: 260px; height: auto; }
.header--collapsed ul { float: right; padding-top: 9px; }

.aboutme { background-color: #a4d9dd; }

.aboutme__photo { display: table-cell; vertical-align: middle; text-align: right; width: 37%; padding: 100px 0; }

.aboutme__photoimage { width: 55%; padding-right: 60px; }

.aboutme__description { display: table-cell; vertical-align: middle; }

.aboutme__description__text { width: 80%; color: #537678; font-size: 24px; line-height: 50px; padding: 70px 0; }
.aboutme__description__text strong { font-weight: 400; }

.extrapadding { padding-top: 135px; }

.blogroll { color: #fff; }

.blogroll--content { background: #e47971 url("../img/blogtitle.png") no-repeat 10px center; padding: 0 0 0 50px; }
.blogroll--content .attachment { display: table; }

.blogroll--featuredblog { width: 64%; background-color: #2e2e2e; display: table-cell; vertical-align: top; }

.blogroll--roll { background-color: #363636; display: table-cell; vertical-align: top; padding-bottom: 10px; }

.blogroll__roll__title, .blogroll__posteddate { font-family: "Cardo", "Times New Roman", serif; font-style: italic; padding: 20px 0 3px 20px; color: #bcbcbc; font-size: 19px; }

.blogroll__featuredblog__title a { color: #e47971; padding: 3px 20px 15px 20px; font-size: 30px; line-height: 38px; font-weight: 400; display: block; }

.blogroll__featuredblog__body { padding: 0 20px 20px 20px; font-size: 14px; line-height: 18px; color: #fff; }
.blogroll__featuredblog__body a { color: #bcbcbc; text-decoration: underline; }

.blogroll__roll__posttitle { padding: 2px 20px 8px 20px; font-size: 18px; font-weight: 400; }
.blogroll__roll__posttitle a { color: #f4d1b2; }

.portfoliomenu { background-color: #f4f4f4; float: left; width: 100%; margin-bottom: 50px; }

.portfoliomenu__title { color: #363636; padding: 40px 20px 40px 50px; font-weight: 600; text-transform: uppercase; font-size: 40px; float: left; }

.portfoliomenu__nav { float: right; padding: 40px 50px 0 0; color: #bcbcbc; }
.portfoliomenu__nav li { display: inline; display: inline; font-size: 27px; text-transform: uppercase; font-weight: 600; padding-left: 50px; }
.portfoliomenu__nav li a { color: #bcbcbc; }

.portfoliomenu--stickyheader { position: fixed; z-index: 100; top: 39px; width: 100%; display: none; }

.portfeed { padding: 50px 0 50px 0; width: 90%; margin: 0 auto; }

.portfeed__header { text-align: center; text-transform: uppercase; font-weight: 600; font-size: 40px; margin-bottom: 50px; line-height: 55px; }

.portfeed__header--webdev { color: #a4d9dd; }

.portfeed__header--design { color: #f4d1b2; }

.portfeed__header--other { color: #e47971; }

.portfeed__thumb__image { display: block; padding-top: 7px; }
.portfeed__thumb__image img { width: 99.5%; height: auto; }

.portfeed--item { display: inline-block; width: 30%; min-width: 255px; padding: 1.5%; vertical-align: top; }

.portfeed__title { padding: 20px 0 40px 0; text-align: center; font-size: 23px; line-height: 30px; }
.portfeed__title a { color: #2e2e2e; }

.portfeed--design .portfeed__thumb__image { border-top: 8px #f4d1b2 solid; }
.portfeed--design .portfeed__thumb__image img { border: 1px #f4d1b2 solid; }

.portfeed--otherprojects .portfeed__thumb__image { border-top: 8px #e47971 solid; }
.portfeed--otherprojects .portfeed__thumb__image img { border: 1px #e47971 solid; }

.portfeed--webdevelopment { margin-top: 4%; }
.portfeed--webdevelopment .portfeed__thumb__image { border-top: 8px #a4d9dd solid; }
.portfeed--webdevelopment .portfeed__thumb__image img { border: 1px #a4d9dd solid; }

.webdevelopment-menu-item, .design-menu-item, .otherprojects-menu-item { cursor: pointer; }

.portdetail { text-align: center; background-color: #363636; }

.portdetail__container { width: 75%; margin: 0 auto; }

.portdetail__title { padding: 50px 0 5px 0; font-size: 42px; line-height: 52px; font-weight: 400; color: #f4d1b2; }

.portdetail__tags { font-family: "Cardo", "Times New Roman", serif; font-size: 30px; padding: 24px 0 50px 0; font-style: italic; color: #f4d1b2; }
.portdetail__tags .field-item { display: inline; margin: 7px; line-height: 25px; }

.portdetail__body { padding-bottom: 50px; }
.portdetail__body p, .portdetail__body ul { text-align: left; margin-bottom: 20px; font-size: 22px; line-height: 28px; }
.portdetail__body li { list-style-type: disc; margin: 0 0 20px 60px; }

.portdetail__livelink { font-family: "Cardo", "Times New Roman", serif; padding-bottom: 50px; font-size: 22px; font-style: italic; color: #f4d1b2; }
.portdetail__livelink a { color: #fff; text-decoration: underline; }

.portimages { background-color: #fefefe; }
.portimages .field-item { display: inline-block; min-width: 200px; width: 40%; padding: 10px; }
.portimages img { width: 100%; height: auto; border: 2px solid #f4d1b2; }

.portimages__container { padding: 50px 0; width: 90%; margin: 0 auto; text-align: center; }

.portimages__instructions { padding-bottom: 50px; text-transform: uppercase; }

.blog { background-color: #F8F8ED; }

.blogheader { background-color: #e2a8a3; height: 41px; overflow: hidden; }

.blogheader__title { float: left; }

.blogheader__title a { text-align: center; width: 170px; background-color: #e47971; padding: 10px 0; display: block; color: #fff; }

.blogheader__filters a { color: #e47971; }

.blogheader__filters__categories, .blogheader__filters__dates { display: inline-block; padding: 10px 30px 0 10px; margin-right: 30px; background: transparent url("../img/triangle-reddish.png") no-repeat right 15px; }

.blogheader__filters { float: right; }

.blogheader__filters a, .blogheader__title a { font-weight: 700; font-size: 25px; text-transform: uppercase; color: #fff; }

.blog__container { width: 65%; margin: 0 auto; }

.blog__title { font-size: 37px; line-height: 50px; color: #e47971; text-align: center; font-weight: 400; padding: 80px 0 10px 0; }

.blog__date { font-family: "Cardo", "Times New Roman", serif; color: #e2a8a3; font-style: italic; font-size: 25px; text-align: center; padding: 5px 0 40px 0; line-height: 31px; }

.blog__body { font-size: 19px; line-height: 29px; color: #2e2e2e; }
.blog__body p { margin-bottom: 20px; }
.blog__body a { color: #e47971; font-weight: 700; }

.grippie, .portfolio-descriptor { display: none; }

.comment-wrapper { width: 40%; margin: 0 auto; padding: 90px 0; text-align: center; }
.comment-wrapper h2 { color: #e47971; font-size: 24px; }
.comment-wrapper h3, .comment-wrapper label[for="edit-homepage"], .comment-wrapper #edit-homepage, .comment-wrapper .comment-reply, .comment-wrapper .changed { display: none; }
.comment-wrapper .permalink { display: none; }
.comment-wrapper article.comment .username { color: #e2a8a3; font-weight: 400; padding: 40px 0 10px 0; font-size: 18px; }
.comment-wrapper article.comment .date { font-family: "Cardo", "Times New Roman", serif; font-style: italic; }
.comment-wrapper article.comment .content { padding: 20px 0 40px 0; border-bottom: 1px #bcbcbc solid; }

.comment-form label { padding: 25px 0 5px 0; width: 50%; margin: 0 auto; text-align: center; }
.comment-form input[type="text"] { width: 50%; margin: 0 auto; text-align: center; }
.comment-form .required { color: #e47971; }
.comment-form .required:after { content: '*'; }
.comment-form small { display: block; color: #e47971; }
.comment-form .form-actions input { border: 1px #fff solid; margin: 20px; width: 100px; height: 43px; text-transform: uppercase; font-weight: 800; color: #fff; background-color: #e47971; }
.comment-form div { text-align: center; color: #2e2e2e; }
.comment-form .form-textarea-wrapper { width: 500px; margin: 0 auto; }
.comment-form .filter-wrapper { border: 0; }
.comment-form label[for="edit-homepage"], .comment-form #edit-homepage { display: none; }

.blogindex, .page-blog-categories, .page-blog-date { background-color: #F8F8ED; }
.blogindex .blogindex--wrapper, .page-blog-categories .blogindex--wrapper, .page-blog-date .blogindex--wrapper { width: 80%; margin: 0 auto; padding-top: 40px; color: #2e2e2e; }
.blogindex .blogindex--wrapper .page-title, .page-blog-categories .blogindex--wrapper .page-title, .page-blog-date .blogindex--wrapper .page-title { font-family: "Cardo", "Times New Roman", serif; color: #bcbcbc; font-style: italic; padding-bottom: 40px; }
.blogindex .blogindex__title a, .page-blog-categories .blogindex__title a, .page-blog-date .blogindex__title a { font-size: 37px; line-height: 50px; color: #e47971; font-weight: 400; }
.blogindex .blogindex__date, .page-blog-categories .blogindex__date, .page-blog-date .blogindex__date { font-family: "Cardo", "Times New Roman", serif; color: #e2a8a3; font-style: italic; font-size: 23px; padding: 5px 0 25px 0; line-height: 31px; }
.blogindex .blogindex__body, .page-blog-categories .blogindex__body, .page-blog-date .blogindex__body { font-size: 18px; line-height: 26px; padding-bottom: 40px; color: #2e2e2e; }
.blogindex .blogindex__body a, .page-blog-categories .blogindex__body a, .page-blog-date .blogindex__body a { color: #4a4a4a; text-decoration: underline; }

.pathone-blog img { max-width: 90%; height: auto !important; }

.olderposts { background-color: #4a4a4a; }
.olderposts h2 { font-family: "Cardo", "Times New Roman", serif; color: #bcbcbc; font-style: italic; font-size: 30px; padding: 20px; }
.olderposts .blogindex__title a { font-size: 24px; line-height: 32px; color: #f4d1b2; padding: 10px 20px 5px 20px; display: block; }
.olderposts .blogindex__date { font-family: "Cardo", "Times New Roman", serif; color: #bcbcbc; font-style: italic; font-size: 17px; padding: 0 20px 20px 20px; }

.datelist { position: absolute; background-color: #2e2e2e; width: 146px; color: #f4d1b2; text-align: center; display: none; }
.datelist div { display: none; }
.datelist h3 a { color: #f4d1b2; padding: 20px 0; display: block; text-transform: uppercase; font-size: 20px; font-weight: 400; }

.categorylist { position: absolute; background-color: #2e2e2e; width: 226px; color: #f4d1b2; text-align: center; display: none; }
.categorylist a { color: #f4d1b2; padding: 20px 0; display: block; text-transform: uppercase; font-size: 20px; font-weight: 400; }

.pathone-contact .page-title { padding: 50px; font-weight: 400; text-align: center; color: #e2a8a3; }
.pathone-contact .node { width: 80%; font-size: 20px; line-height: 30px; text-align: center; margin: 0 auto; }

.contactform { width: 80%; margin: 0 auto; text-align: center; }
.contactform label { padding: 25px 0 5px 0; width: 50%; margin: 0 auto; text-align: center; }
.contactform input[type="text"], .contactform input[type="email"] { width: 50%; margin: 0 auto; text-align: center; }
.contactform .required { color: #e47971; }
.contactform .required:after { content: '*'; }
.contactform small { display: block; color: #e47971; }
.contactform .form-actions input { border: 1px #e47971 solid; margin: 20px; width: 100px; height: 43px; text-transform: uppercase; font-weight: 800; color: #fff; background-color: transparent; }

footer { clear: both; margin-top: 50px; }

.copyright { font-size: 13px; padding: 20px; text-align: right; }

/** Global UI tweaks */
.filter-help, .page-title { display: none; }

body.page-blog-categories .page-title, body.page-blog-date .page-title, body.pathone-contact .page-title { display: block; }

body.node-type-article, body.page-comment, body.pathone-blog, body.pathone-contact { background-color: #2e2e2e; color: #fff; }

.pathone-blog .page { background-color: #F8F8ED; }

.page-comment .comment-preview { width: 70%; margin: 0 auto; background-color: transparent; padding-top: 20px; }
.page-comment h3 a { display: none; }
.page-comment .username { font-family: "Cardo", "Times New Roman", serif; color: #e2a8a3; font-style: italic; font-size: 25px; text-align: center; padding: 5px 0 30px 0; display: block; }
.page-comment footer .date, .page-comment footer .changed, .page-comment footer .permalink { display: none; }
.page-comment .content { font-size: 20px; text-align: center; line-height: 27px; }

.one-sidebar .page { display: table; width: 100%; vertical-align: top; }

.one-sidebar #main-content { display: table-cell; width: 75%; vertical-align: top; }

.one-sidebar .sidebar-first { width: 25%; display: table-cell; background-color: #4a4a4a; vertical-align: top; }

/** Utility classes */
.color--orange { color: #f4d1b2; }

.color--lightgreen { color: #a4d9dd; }

.color--reddish { color: #e47971; }

.is-shown { display: block; }

a { text-decoration: none; }

.darkbg { color: #fff; }
.darkbg a { color: #bcbcbc; }
.darkbg .darkbg__whitelinks a { color: #fff; }
.darkbg .darkbg__orangelinks a { color: #f4d1b2; }

@media (max-width: 1150px) { .portfoliomenu__nav { padding-top: 42px; }
  .portfoliomenu__nav li { font-size: 21px; padding-left: 30px; } }
@media (max-width: 945px) { .datelist, .categorylist { width: 150px; margin-top: -5px; }
  .datelist a, .datelist h3 a, .categorylist a, .categorylist h3 a { font-size: 16px; }
  .datelist { margin-left: -15px; }
  .portfolio-descriptor { display: inline; }
  .aboutme__photo { display: block; width: 80%; max-width: 530px; padding: 50px 0 30px 0; margin: 0 auto; text-align: center; }
  .aboutme__photo img { padding: 0; width: 100%; max-width: 300px; }
  .aboutme__description { display: block; }
  .aboutme__description__text { text-align: center; margin: 0 auto; padding: 30px 0 60px 0; }
  .portfeed--item { display: block; width: 90%; max-width: 460px; min-width: 0; margin: 0 auto; }
  .page { margin-top: 40px; }
  .portfoliomenu__nav, .blogroll--roll, .olderposts { display: none; }
  .one-sidebar #main-content { width: 100%; }
  .blogheader__title { width: 100%; background-color: #e2a8a3; text-align: left; }
  .blogheader__title a { padding-left: 20px; background-color: #e2a8a3; text-align: left; }
  .blogheader { overflow: visible; height: auto; }
  .blogheader__filters { text-align: left; float: none; }
  .blogheader__filters__categories, .blogheader__filters__dates { margin: 0 0 0 20px; padding: 0 0 10px 0; background: none; }
  .portfoliomenu__title { float: none; font-size: 28px; padding: 0; }
  .portfoliomenu__title p { float: left; padding: 20px; }
  .header .logo, header nav { display: none; }
  .header--collapsed .carrot { width: 40px; height: 40px; background: transparent url("../img/menustar.png") no-repeat; position: fixed; top: 3px; right: 0; cursor: pointer; }
  .header--collapsed, .header--collapsed .logo { display: block; }
  .header--collapsed li { display: block; padding: 5px 15px; text-transform: uppercase; font-size: 17px; }
  .header--collapsed ul { position: fixed; padding-top: 20px; background-color: #363636; z-index: 1000; right: 0; top: 40px; display: none; }
  .portfoliomenu--stickyheader { z-index: 1; }
  .comment-wrapper, .blog__container { width: 90%; }
  .comment-form .form-textarea-wrapper { width: auto; }
  .form-textarea-wrapper textarea { margin: 0 auto; width: 90%; } }
/* NAV BAR THEMING */
#navbar-administration { z-index: 10000; }

/*# sourceMappingURL=style.css.map */
